{% extends 'base.html' %} {% block content %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Browse Our Properties</h1>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt,
          pariatur!
        </p>
      </div>
    </div>
  </div>
</section>

<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Browse Listings</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-4">
  <div class="container">
    <div class="row">
      <!-- Listing 1 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="assets/img/homes/home-1.jpg" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">$490,000</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">45 Drivewood Circle</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> Norwood MA,
                02062
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: 3200
              </div>
              <div class="col-6"><i class="fas fa-car"></i> Garage: 2</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: 3</div>
              <div class="col-6"><i class="fas fa-bath"></i> Bathrooms: 2</div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-12"><i class="fas fa-user"></i> Kyle Brown</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6"><i class="fas fa-clock"></i> 2 days ago</div>
            </div>
            <hr />
            <a href="listing.html" class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>

      <!-- Listing 2 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="assets/img/homes/home-2.jpg" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">$550,000</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">18 Jefferson Lane</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> Woburn MA,
                01801
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: 3200
              </div>
              <div class="col-6"><i class="fas fa-car"></i> Garage: 1</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: 4</div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: 2.5
              </div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-user"></i> Mark Hudson</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6"><i class="fas fa-clock"></i> 5 days ago</div>
            </div>
            <hr />
            <a href="listing.html" class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>

      <!-- Listing 3 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="assets/img/homes/home-3.jpg" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">$580,000</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">187 Woodrow Street</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> Salem MA, 01915
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: 3107
              </div>
              <div class="col-6"><i class="fas fa-car"></i> Garage: 0</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: 4</div>
              <div class="col-6"><i class="fas fa-bath"></i> Bathrooms: 3</div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-user"></i> Mark Hudson</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6"><i class="fas fa-clock"></i> 5 days ago</div>
            </div>
            <hr />
            <a href="listing.html" class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>

      <!-- Listing 4 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="assets/img/homes/home-4.jpg" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">$380,000</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">28 Gifford Street</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> Bedford NH,
                03103
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: 2927
              </div>
              <div class="col-6"><i class="fas fa-car"></i> Garage: 2</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: 4</div>
              <div class="col-6"><i class="fas fa-bath"></i> Bathrooms: 2</div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-user"></i> Jenny Johnson</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6"><i class="fas fa-clock"></i> 5 days ago</div>
            </div>
            <hr />
            <a href="listing.html" class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>

      <!-- Listing 5 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="assets/img/homes/home-5.jpg" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">$230,000</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">12 United Road</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> South Hampton
                NH, 03827
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: 2207
              </div>
              <div class="col-6"><i class="fas fa-car"></i> Garage: 1</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: 3</div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: 1.5
              </div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-user"></i> Kyle Brown</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6"><i class="fas fa-clock"></i> 5 days ago</div>
            </div>
            <hr />
            <a href="listing.html" class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>

      <!-- Listing 6 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="assets/img/homes/home-6.jpg" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">$780,000</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">33 Essex Circle</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> Lexington MA,
                01731
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: 4145
              </div>
              <div class="col-6"><i class="fas fa-car"></i> Garage: 1</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: 5</div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: 3.5
              </div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6"><i class="fas fa-user"></i> Kyle Brown</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6"><i class="fas fa-clock"></i> 5 days ago</div>
            </div>
            <hr />
            <a href="listing.html" class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
